.slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    /* or however tall you want */
    overflow: hidden;
}

.slideshow img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease-in-out;
    opacity: 0;
    z-index: 1;
}

.slideshow .slide-transition {
    opacity: 1;
    z-index: 2;
}